<h1>Editing film</h1>

<div>

<%= render "form", film: @film %>

<br>

  <%= link_to "Show this film", @film, class:"btn mb-4 ms-0 mt-5" %>
  <%= link_to "Back to films", films_path, class:"btn mb-4 ms-0 mt-5"%>
</div>
