<p style="color: green"><%= notice %></p>

<h1>Films</h1>

<div class="container liste-film">
  <% @films.each do |film| %>
    <%= render film %>

  <% end %>
</div>

<%= link_to "New film", new_film_path %>
