<p style="color: green"><%= notice %></p>

<div class="container">
<h1>Films</h1>

  <% @films.each do |film| %>
    <%= render film %>
    <p class="btn btn-primary">
      <%= link_to "Show this film", film %>
    </p>
  <% end %>
</div>

<%= link_to "New film", new_film_path %>
