.liste-film {
display: flex;
flex-wrap: wrap;
justify-content: left;
}

.carte-film {
  background-color: #E9E3B2;
  max-width: fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 10px;
  margin: 5%;
}
