.liste-film {
display: flex;
flex-wrap: wrap;
justify-content: left;
}

.carte-film {
  background-color: #e8e5cd;
  max-width: fit-content;
  height: fit-content;
  border-radius: 5px;
  padding-bottom: 0px;
  margin-bottom: 3%;
}

.info-carte-film {
  padding: 20px;
}
