header {
  background-color: #ADA676;
}

body {
  background-color: #FFFBE0;
}

footer {
  /* background-color: ; */
}

/* contain login and sign up */
header .col-md-3 {
  /* background-color: aqua; */
  padding-right: 25px;
}

.btn {
  color: white ;
  background-color: #F9BE63;
}

.nav-link:hover{
  text-decoration: underline;
  color: #6E65AD;

}



.nav-couleur-liens:hover{
  color: black ;
  text-decoration: underline;
  color: #6E65AD;

}

.home {
  color: black;
}

.login {
  /* background-color: aqua; */
  border-radius: 7px;
  /* color: ; */
}

.sign-up {
  border-radius: 7px;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  max-width: fit-content;
  padding-left: 10px;
}
