header {
  background-color: rgb(249, 190, 99);
}

body {
  background-color: aliceblue;
}

/* contain login and sign up */
header .col-md-3 {
  /* background-color: aqua; */
  padding-right: 25px;
}

.login {
  /* background-color: aqua; */
  border-radius: 7px;
  color: ;
}

.sign-up {
  border-radius: 7px;
}
