.container-show {
  display: flex;
}

.film-description {
  padding-right: 10%;
}

.container-show img{
  height: 60%;
}

@media screen and (max-width: 500px) {
  .container-show {
    flex-wrap: wrap-reverse;
    flex-wrap: column;
  }

  .film-description {
    padding-right: 10%;
  }
}
